<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.whitebox.pageTestcases.SchedulePageTest"/>
      <class name="com.whitebox.pageTestcases.LoginPageTest"/>
      <class name="com.whitebox.pageTestcases.HomePageTest"/>
      <class name="com.whitebox.pageTestcases.DemoPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
